/* styles.css */


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    padding: 1em 0;
    color: #fff;
    text-align: center;
    font-style:italic;
    font-family:cursive;
}

.display_term {
	display: block;
    width: 300px;
    height: 60px;
    font-size: xx-large;
    text-align: -webkit-center;
}

.smit{
	width:100px;
    height:50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    border-color:rgb(247, 191, 158);
    border-style: solid;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

.jumbotron {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 2em;
    margin: 2em 0;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    color: #333;
}

.checkbox-group input {
    margin-right: 0.5em;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #444;
    color: #fff;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* プルダウンリストを右寄せにする */
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* テキストが折り返されないようにする */
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

select{
	font-size:15px;
}

h3{
	font-family: sans-serif;
}

.under{
	border:solid;
}

/*table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border:solid;
}

table th,table td{
  padding: 10px 10px;
  text-align: center;
  border-right:solid;
}

table tr:nth-child(odd){
  background-color: #eee
}
*/

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border:solid;
  font-family: sans-serif;
}

table th,table td{
  padding: 10px 10px;
  text-align: center;
  border-right:solid;
}

table tr:nth-child(odd){
  background-color: #eee
}
